#nav{
    display:flex;
    flex-direction: column;
    gap:20px;
    height:100vh;
    background-color: white;
    width:190px;
}
#nav >button{
    background-color: white;
    border: 0px;
    align-self: flex-start;
    font-size: 1.2em;
    font-weight: lighter;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
}

.nav-f1{
    width: 100%;
    display: flex;
    gap:10px;
    align-content: center;
}

#nav >button:hover{
    background-color: rgb(198, 192, 192);
}
#sphere{
    background-color: white;
    border: 0px;
    align-self: flex-start;
    font-size: 1.2em;
    font-weight: lighter;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
}