.search-container {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button[type="submit"] {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#se{
    position: relative;
    height: 80vh;
    border-radius: 5%;
    z-index: 6;
    padding-right: 10px;
    background-color: #ccc;
}

.bodyOfSearch{
    overflow: scroll;
}

.bodyOfSearch::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bodyOfSearch {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}